.actions {

  .padding-mobile();
  padding-top: 50px;
  padding-bottom: 50px;

  text-align: justify;

  @media @tablet-widths {
    margin-top: 50px;
  }
}

.actions__introduction {
  @media @tablet-widths {
    position: relative;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 40px 34px 40px;
  }
}

.actions__text {
  @media @tablet-widths {
    padding-right: 250px;
  }

  @media @desktop-widths {
    padding-right: 350px;
  }
}

.actions__pic {
  display: none;
  @media @tablet-widths {
    display: block;
    position: absolute;
    right: 20px;
    bottom: 0;
    width: 242px;
    height: 276px;
  }

  @media @desktop-widths {
    width: 342px;
    height: 390px;
  }
}

.actions__steps {
  margin-top: 50px;
  @media @tablet-widths {
    margin-top: 0;
  }
}

.actions__wrapper {
  .container-fluid();
}

.actions__input {
  display: none;
}

.actions__controls {
  width: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.actions__label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: justify;
  width: 55px;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .2s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
    &::before {
      color: white;
    }
  }

  @media @tablet-widths {
    display: none;
  }
}

.actions__label::before {
  position: absolute;
  content: attr(data-number);
  font-family: "Roboto Bold", "Arial", sans-serif;
  font-size: 24px;
  color: white;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);

  @media @tablet-widths {
    display: none;
  }
}

#actions-toggle-1:checked ~ .actions__controls label[for="actions-toggle-1"],
#actions-toggle-2:checked ~ .actions__controls label[for="actions-toggle-2"],
#actions-toggle-3:checked ~ .actions__controls label[for="actions-toggle-3"] {
  background-color: #FFFFFF;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
  &::before {
    color: @h-red;
  }
}

.actions__inner {
  position: relative;
  overflow: hidden;
  width: auto;
}

.actions__inner::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 20px;
}

.actions__items {
  width: 900px;
  transition: transform .8s ease;

  @media @tablet-widths {
    width: auto;
  }
}

.actions__item {
  float: left;
  box-sizing: border-box;
  width: 280px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  min-height: 300px;
  padding: 48px 20px 45px;
  margin-right: 20px;

  text-align: left;
  font-size: 14px;
  line-height: 20px;

  @media @tablet-widths {
    width: 32%;
    margin-right: 2%;
    position: relative;
  }
}

.actions__item:last-child {
  margin-right: 0;
}

.actions__item::before {
  @media @tablet-widths {
    position: absolute;
    top: 20px;
    left: 20px;
    content: attr(data-number);
    width: 55px;
    height: 55px;
    background-color: #FFFFFF;
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
    border-radius: 50%;

    font-family: "Roboto Bold", "Arial", sans-serif;
    font-size: 24px;
    line-height: 55px;
    text-align: center;
    color: @h-red;
  }
}

#actions-toggle-1:checked ~ .actions__inner .actions__items {
  transform: translate(0);
}

#actions-toggle-2:checked ~ .actions__inner .actions__items {
  transform: translate(-300px);
}

#actions-toggle-3:checked ~ .actions__inner .actions__items {
  transform: translate(-600px);
}