.footer {
  padding: 30px 0;

  @media @tablet-widths {
    font-size: 0;
    line-height: 0;
  }
}

.footer__wrapper {
  .container-fluid();
}

.footer__additional {
  margin: 0 auto;
  text-align: center;

  @media @tablet-widths {
    display: inline-block;
    vertical-align: middle;
    width: 27%;
    margin-right: 2%;
    text-align: left;
    padding: 0;
  }
}

.footer__links {
  display: block;
  font-size: 18px;
  line-height: 40px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__contacts {
  font-family: "Roboto Bold", "Arial", sans-serif;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  padding: 50px 0;

  @media @tablet-widths {
    display: inline-block;
    vertical-align: middle;
    width: 35%;
    margin-right: 2%;
    text-align: center;
    padding: 0;
  }
}

.footer__phone, .footer__email {
  display: block;
  font-family: 'Roboto Medium','Arial', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  text-decoration: none;

  @media @tablet-widths {
    font-size: 24px;
    line-height: 36px;
  }
}

.footer__logo {
  display: block;
  text-align: center;
  width: 280px;
  margin: 0 auto;

  @media @tablet-widths {
    display: inline-block;
    vertical-align: middle;
    width: 34%;
    text-align: right;
    padding: 0;
  }
}

.footer__logo img {
  width: 100%;
  height: auto;
}