.product {
  width: auto;
  margin-top: 40px;
  z-index: 1;

  @media @tablet-widths {
    background-color: #FFFFFF;
  }
}

.product__wrapper {
  .container-fluid();
  position: relative;
}

.product__picture {
  position: relative;
  padding: 0 20px;

  text-align: center;
  font-size: 0;
  line-height: 0;

  z-index: 10;

  @media @tablet-widths {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    width: 350px;
    height: 445px;
    z-index: 2;

    background-position: top center;
  }
  
  @media @desktop-widths {
    width: 417px;
    height: 554px;
    bottom: -24px;
  }
}

.product__picture:before {
  position: absolute;
  content: '';
  top: -6%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-image: url(../img/gradient.svg);
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: contain;

  z-index: -1;

  @media @desktop-widths {
    top: -20%;
  }
}

.product__picture img {
  @media @mobile-width-only {
    max-width: 417px;
  }
}

.product__content {
  .padding-mobile();
  padding-top: 40px;
  padding-bottom: 35px;

  background-color: white;

  @media @tablet-widths {
    padding-left: 0;
    padding-right: 340px;
  }

  @media @desktop-widths {
    padding-right: 440px;
    padding-bottom: 45px;
  }
}

.product__text {

  @media @tablet-widths {
    text-align: left;
  }

  &--desktop {
    display: none;

    @media @desktop-widths {
      display: block;
    }
  }
}

