.water-straw {
  width: auto;
  margin-top: 40px;
  z-index: 1;
  background-color: #FFFFFF;

  .padding-mobile();
  padding-top: 40px;
  padding-bottom: 15px;

  @media @tablet-widths {
    padding-left: 0;
    padding-right: 0;
  }
}

.water-straw__wrapper {
  .container-fluid();
  position: relative;
}

.water-straw__content {
  @media @tablet-widths {
    padding-left: 340px;
  }

  @media @desktop-widths {
    padding-left: 440px;
    min-height: 380px;
  }
}

.water-straw__picture {
  @media @tablet-widths {
    position: absolute;
    left: -30px;
    padding: 0;
    width: 350px;
    height: 291px;
    z-index: 2;
  }

  @media @desktop-widths {
    left: -70px;
    width: 500px;
    height: 364px;
  }
}
